<template>
    <div id="vue-instance">
        <div>One Way binding with input box <input type="text" :value="name"></div>
        <div>One Way binding as text {{ name }}</div>

        <div>Two way binding : <input type="text" v-model="name"></div>

        <button @click="test">test</button>
        <hr/>

        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <hr/>

        <div id='example-3'>
          <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
          <label for="jack">Jack</label>
          <input type="checkbox" id="john" value="John" v-model="checkedNames">
          <label for="john">John</label>
          <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
          <label for="mike">Mike</label>
          <br>
          <span>Checked names: {{ checkedNames }}</span>
        </div>
        <hr>

        <input type="radio" id="one" value="One" v-model="picked">
<label for="one">One</label>
<br>
<input type="radio" id="two" value="Two" v-model="picked">
<label for="two">Two</label>
<br>
<span>Picked: {{ picked }}</span>
<hr/>
    <select v-model="selected">
  <option disabled value="">Please select one</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<span>Selected: {{ selected }}</span>
    </div>
</template>
<script>
export default {
  name: 'bindings',
  data() {
    return {
      name: 'abcd',
      checked: false,
      checkedNames: [],
      picked: '',
      selected: '',
    };
  },
  methods: {
    test() {
      console.log(this.name);
    },
  },
};
</script>
