<template>
    <div>
      <input type="checkbox" id="checkbox" v-model="checked">
      <div v-if="checked">Checked</div>
      <div v-else>Unchecked</div>
    </div>
</template>
<script>
export default {
  name: 'conditional',
  data() {
    return {
      checked: false,
    };
  },
};
</script>
