<template>
    <div>
        <div>
            <input type="text" v-model="name"/>
            <div>No Filter: {{ name }}</div>
            <div>Capitalize Filter: {{ name | capitalize }}</div>
        </div>
        <div>
            <input type="text" v-model.number="num"/>
            <div>No Filter: {{ num }}</div>
            <div>Number Filter: {{ num | digits }}</div>
        </div>
        <div>

        </div>
    </div>
</template>
<script>
export default {
  name: 'test',
  data() {
    return {
      name: 'asyst',
      num: 1000000,
    };
  },
  filters: {
    capitalize(value) {
      if (!value) return '';
      return value.toString().charAt(0).toUpperCase() + value.slice(1);
    },
    digits(num) {
      return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.');
    },
  },
};
</script>
<style>
.black {
    background-color: black;
}
</style>
