<template>
    <div>
        <img class="black" :src="imageURL"/>
    </div>
</template>
<script>
export default {
  name: 'test',
  data() {
    return {
      imageURL: 'https://www.asyst.co.id/assets/new_layout/images/logo-light.png',
    };
  },
};
</script>
<style>
.black {
    background-color: black;
}
</style>
