<template>
    <div>
        <ul id="example-1">
        <li v-for="(item, index) in items" :key="index">
            {{ item.message }}
        </li>
        </ul>
    </div>
</template>
<script>
export default {
  name: 'list',
  data() {
    return {
      items: [{ message: 'Foo' }, { message: 'Bar' }],
    };
  },
};
</script>
