<template>
    <div>
        TEST
    </div>
</template>
<script>
import repositories from '@/assets/repositories.json';

export default {
  name: 'test',
  data() {
    return {
      repo: repositories,
    };
  },
};
</script>
